@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  .container {
    padding: 16px;
    background-color: white;
  }
  h1{
    text-align: center;
  }
  input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  .kotak{
    max-width: 50%;
    margin: auto;
    padding: 20px;
    border: 3px solid gray;
    border-radius: 30px;
  }
  .registerbtn {
    background-color: blue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .registerbtn:hover {
    opacity: 1;
  }
  a {
    color: dodgerblue;
  }

  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  @media screen and (max-width: 540px) {
    .kotak{
        max-width: 100%;
    }
  }